<% provide(:title, 'Homepage') %>
<% provide(:description, 'The official blog of AmirolAhmad, Senior Software Engineer, Rubyst and a husband with 1 kid.') %>

<div class="blog-header">
	<h1 class="blog-title">AmirolAhmad's Blog</h1>
	<p class="lead blog-description">The official blog of AmirolAhmad, Senior Software Engineer, Rubyst and a husband with 1 kid.</p>
</div>

<p class="text-info"><%= notice %></p>

<div class="row">
	<div class="col-sm-8 blog-main">
		<% if @articles.empty? %>
		  <h1>No articles found!</h1>
		  <ul class="pager">
			<li><%= link_to "Back", root_path %></li>
		  </ul>
		<% else %>
			<% @articles.each do |article| %>
			<div class="blog-post">
				<h2 class="blog-post-title">
					<%= link_to article.title, article_path(article) %>

					<% if user_signed_in? %>
					<div class="btn-group btn-group-xs">
						<%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary" %>
		  				<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
					</div>
					<% end %>
					
				</h2>

				<p class="blog-post-meta">
					Created at <%= article.created_at.strftime("%b %d, %Y") %>

					<%= link_to "0 comment", article_path(article, :anchor => "disqus_thread"), :"data-disqus-identifer" => article.id, :class => 'btn btn-primary btn-xs' %>
				</p>
				<%= simple_format(article.text.split[0..56].join(" ")) %>
				
				<ul class="pager">
					<li><%= link_to "Read more", article_path(article) %></li>
				</ul>
			</div>
			<% end %>
		<% end %>
		<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="form-group">
		<%= form_tag(articles_path, method: "get") do %>
		    <%= text_field_tag(:q, params[:search], class: 'form-control', placeholder: 'Search') %>
		<% end %>
		</div>
		<div class="sidebar-module">
			<p>Learn how to code via TreeHouse</p>
			<p>
				<a href="http://referrals.trhou.se/amirolahmad" target="_blank"><img src="http://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/content/referral-badge-green.png" width="215"/>
				</a>
			</p>
		</div>
		<div class="sidebar-module">
			<p>
				<a href="https://affiliates.mozilla.org/referral/56782/" target="_blank">
					<img src="https://affiliates.mozilla.org/media/uploads/banners/21667af8d37e6766384104cdd8f96ee479e56221.png" width="215" >
				</a>
			</p>
		</div>
		<div class="sidebar-module">
			<p>
				<a href="https://affiliates.mozilla.org/referral/56831/" target="_blank">
					<img src="https://affiliates.mozilla.org/media/uploads/banners/066ac34f247ac5121eed1e9cefb0383569c62903.png" >
				</a>
			</p>
		</div>
		<div class="sidebar-module">
			<h4>Articles</h4>
			<ol class="list-unstyled">
				<% @articles_archieve.each do |article| %>
				<li><%= link_to article.title, article_path(article) %> <small>at <%= article.created_at.strftime("%b %d, %Y") %></small></li>
				<% end %>
			</ol>
		</div>
	</div>
</div>

