<% provide(:title, @article.title) %>
<%= simple_format(provide(:description, @article.text.split[0..56].join(" "))) %>

<div class="page-header">
  <h1><%= @article.title %></h1>
  <p class="blog-post-meta">
    Created at <%= @article.created_at.strftime("%b %d, %Y") %>

    <% if user_signed_in? %>
    <div class="btn-group btn-group-xs">
        <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary" %>
        <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    </div>
    <% end %>

  </p>
</div>

<p><%= @article.text.html_safe %></p>

<hr>

<!-- Display Disqus Comment Box -->
<div id="disqus_thread"></div>
<script type="text/javascript">

    var disqus_shortname = '<%= Article::DISQUS_SHORTNAME %>';
    var disqus_identifier = '<%= @article.id %>';
    var disqus_url = 'http://mramirol.com<%= url_for(@article) %>';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<ul class="pager">
	<li><%= link_to 'Back', articles_path %></li>
</ul>
