<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
    	<%= link_to 'Home', root_path, :class => "blog-nav-item" %>
    	<%= link_to 'About', root_path, :class => "blog-nav-item" %>
      	<%= link_to 'Contact', root_path, :class => "blog-nav-item" %>

        <% if user_signed_in? %>
        <%= link_to 'New article', new_article_path, :class => "blog-nav-item" %>
        <%= link_to 'Logout', destroy_user_session_path, method: "delete", :class => "blog-nav-item" %>
        <% end %>

      	<%= link_to raw("<i class=\"fa fa-linkedin\"></i>"), "http://my.linkedin.com/in/amirolahmad", :target => "_blank", :class => "blog-nav-item pull-right" %>
      	<%= link_to raw("<i class=\"fa fa-github\"></i>"), "http://github.com/AmirolAhmad", :target => "_blank", :class => "blog-nav-item pull-right" %>
      	<%= link_to raw("<i class=\"fa fa-google-plus\"></i>"), "http://www.google.com/+AmirolAhmad", :target => "_blank", :class => "blog-nav-item pull-right" %>
      	<%= link_to raw("<i class=\"fa fa-twitter\"></i>"), "http://twitter.com/AmirolAhmad", :target => "_blank", :class => "blog-nav-item pull-right" %>
      	<%= link_to raw("<i class=\"fa fa-facebook\"></i>"), "http://www.fb.com/AmirolAhmad", :target => "_blank", :class => "blog-nav-item pull-right" %>
    </nav>
  </div>
</div>