<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AmirolAhmad's Blog | <%= yield(:title) %></title>
	<meta name="description" content="My name is Amirol Ahmad, web and mobile apps developer. Always working on my Ruby on Rails application. I love programming and networking so much. Sometimes I like to call myself as Open Source Developer, where I like to contribute my skills and my knowledge in any open source product such as Joomla, Mozilla etc. Been involved & active in mobile apps development based on iOS (Apple Developer) and Android (Google Developer)">
	<meta name="keyword" content="ruby on rails, rails developer, freelancer, github, malaysian rails developer, rails community, freelance rails developer, tutorial, php laravel, server administrator, ror">
	<meta name="author" content="AmirolAhmad">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/nav" %>

	<div class="container">
	<%= yield %>
	</div>

	<%= render "layouts/footer" %>

</body>
</html>
